body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("http://tinyurl.com/j6wzqb5");  

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .actionButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:40px solid red;
  border-radius:10px;
  position:absolute;
}
.fadeDancer{
  border:40px solid green;
  position:absolute;
}
.spinDancer{
  border:40px solid orange;
  border-radius: 80px 0px 80px 0px;
  position:absolute;
}
.lineUpButton{
}